[submodule "components/m5stack/M5EPD"]
	path = components/freetype/M5EPD
	url = https://github.com/m5stack/M5EPD
[submodule "components/arduino-esp32"]
	path = components/arduino-esp32
	url = https://github.com/espressif/arduino-esp32
[submodule "components/c3dev/st7735"]
	path = components/lcd/st7735
	url = https://github.com/adafruit/Adafruit-ST7735-Library
[submodule "components/c3dev/agfxlib"]
	path = components/lcd/agfxlib
	url = https://github.com/adafruit/Adafruit-GFX-Library
[submodule "components/tinypng/tinyPNG"]
	path = components/tinypng/tinyPNG
	url = https://github.com/olliiiver/tinyPNG
[submodule "components/wasm/wasm3"]
	path = components/wasm/wasm3
	url = https://github.com/wasm3/wasm3
[submodule "components/unitenv/UNIT_ENV"]
	path = components/unitenv/UNIT_ENV
	url = https://github.com/m5stack/UNIT_ENV
[submodule "components/lcd/adfruitbus"]
	path = components/lcd/adfruitbus
	url = https://github.com/adafruit/Adafruit_BusIO
[submodule "components/lwgps/lwgps"]
	path = components/lwgps/lwgps
	url = https://github.com/MaJerle/lwgps
[submodule "components/ultrasonic/M5Unit-Sonic"]
	path = components/ultrasonic/M5Unit-Sonic
	url = https://github.com/m5stack/M5Unit-Sonic
